<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testFBSDK.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>28268231E60D98CE441F4794E5A2AA9D7D7F7E22</string>
				<key>dateExpires</key>
				<string>9/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y98CX2C897.org.reactjs.native.flock.testFBSDK</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y98CX2C897</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>Y98CX2C897.org.reactjs.native.flock.testFBSDK</string>
				</array>
			</dict>
			<key>name</key>
			<string>testFBSDK.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>edc4093b-05b9-48c2-9faf-e42e7c459de5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y98CX2C897</string>
				<key>name</key>
				<string>Kristy Gao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
